In [44]:
import pandas as pd

# MONGODB Connection

In [45]:
import pymongo
se = pymongo.MongoClient("mongodb://Shelby:Shelby123@cluster0-shard-00-00.czlfy.mongodb.net:27017,cluster0-shard-00-01.czlfy.mongodb.net:27017,cluster0-shard-00-02.czlfy.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-r05kny-shard-0&authSource=admin&retryWrites=true&w=majority")

In [46]:
print(se.list_database_names())

['Raghu', 'Telephone', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'admin', 'local']

In [47]:
db = se["Telephone_Directory"]
collect = db["collect"]

In [48]:
df = pd.read_csv(r'C:\Users\Admin\Desktop\guvi downloads\tele_data.csv')
df

    S.No      Name     PhoneNo     Place Service       Type
0      1     Vijay  9080221029   chennai     jio       home
1      2      Hari  9444795929     delhi    bsnl     office
2      3   Krishna  8807395929     delhi   artel  bussiness
3      4    Prasad  9876567810   chennai  docomo       home
4      5    Nevvan  9080221029  banglore     jio       work
5      6     Rahul  9444668029     pondy    bsnl  bussiness
6      7     Raghu  8765126397  banglore   artel  bussiness
7      8    Geetha  7397390731     pondy  docomo       work
8      9   Sandhya  8657448501   chennai     jio       home
9     10   Lavanya  8668040234     delhi    bsnl       home
10    11  Priyanka  9500073428   karnool   artel       work
11    12      Raji  9677146570   kadappa  docomo  bussiness
12    13   Monisha  9876461810   kadappa     jio       home
13    14     Mohan  8765121234   karnool    bsnl       work
14    15   Lakshmi  9444794567     pondy   artel  bussiness

# Inserting Records

In [49]:
db.collect.insert_many(df.to_dict("record"))

C:\Users\Admin\AppData\Local\Temp/ipykernel_7048/2760462698.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  db.collect.insert_many(df.to_dict("record"))

In [50]:
for item in collect.find({},{"_id":0}):
    print(item)

{'S.No': 1, 'Name': 'Vijay', 'PhoneNo': 9080221029, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 2, 'Name': 'Hari', 'PhoneNo': 9444795929, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'office'}
{'S.No': 3, 'Name': 'Krishna', 'PhoneNo': 8807395929, 'Place': 'delhi', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 4, 'Name': 'Prasad', 'PhoneNo': 9876567810, 'Place': 'chennai', 'Service': 'docomo', 'Type': 'home'}
{'S.No': 5, 'Name': 'Nevvan', 'PhoneNo': 9080221029, 'Place': 'banglore', 'Service': 'jio', 'Type': 'work'}
{'S.No': 6, 'Name': 'Rahul', 'PhoneNo': 9444668029, 'Place': 'pondy', 'Service': 'bsnl', 'Type': 'bussiness'}
{'S.No': 7, 'Name': 'Raghu', 'PhoneNo': 8765126397, 'Place': 'banglore', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 8, 'Name': 'Geetha', 'PhoneNo': 7397390731, 'Place': 'pondy', 'Service': 'docomo', 'Type': 'work'}
{'S.No': 9, 'Name': 'Sandhya', 'PhoneNo': 8657448501, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 10, 'Name': 'Lavanya', 'PhoneNo': 8668040234, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'home'}
{'S.No': 11, 'Name': 'Priyanka', 'PhoneNo': 9500073428, 'Place': 'karnool', 'Service': 'artel', 'Type': 'work'}
{'S.No': 12, 'Name': 'Raji', 'PhoneNo': 9677146570, 'Place': 'kadappa', 'Service': 'docomo', 'Type': 'bussiness'}
{'S.No': 13, 'Name': 'Monisha', 'PhoneNo': 9876461810, 'Place': 'kadappa', 'Service': 'jio', 'Type': 'home'}
{'S.No': 14, 'Name': 'Mohan', 'PhoneNo': 8765121234, 'Place': 'karnool', 'Service': 'bsnl', 'Type': 'work'}
{'S.No': 15, 'Name': 'Lakshmi', 'PhoneNo': 9444794567, 'Place': 'pondy', 'Service': 'artel', 'Type': 'bussiness'}

# Inserting One_Record

In [51]:
db.collect.insert_one({"S.No":16,"Name":"Shelby","PhoneNo":7894561230,"Place":"madurai","Service":"jio","Type":"work"})

In [52]:
for item in collect.find({},{"_id":0}):
    print(item)

{'S.No': 1, 'Name': 'Vijay', 'PhoneNo': 9080221029, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 2, 'Name': 'Hari', 'PhoneNo': 9444795929, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'office'}
{'S.No': 3, 'Name': 'Krishna', 'PhoneNo': 8807395929, 'Place': 'delhi', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 4, 'Name': 'Prasad', 'PhoneNo': 9876567810, 'Place': 'chennai', 'Service': 'docomo', 'Type': 'home'}
{'S.No': 5, 'Name': 'Nevvan', 'PhoneNo': 9080221029, 'Place': 'banglore', 'Service': 'jio', 'Type': 'work'}
{'S.No': 6, 'Name': 'Rahul', 'PhoneNo': 9444668029, 'Place': 'pondy', 'Service': 'bsnl', 'Type': 'bussiness'}
{'S.No': 7, 'Name': 'Raghu', 'PhoneNo': 8765126397, 'Place': 'banglore', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 8, 'Name': 'Geetha', 'PhoneNo': 7397390731, 'Place': 'pondy', 'Service': 'docomo', 'Type': 'work'}
{'S.No': 9, 'Name': 'Sandhya', 'PhoneNo': 8657448501, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 10, 'Name': 'Lavanya', 'PhoneNo': 8668040234, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'home'}
{'S.No': 11, 'Name': 'Priyanka', 'PhoneNo': 9500073428, 'Place': 'karnool', 'Service': 'artel', 'Type': 'work'}
{'S.No': 12, 'Name': 'Raji', 'PhoneNo': 9677146570, 'Place': 'kadappa', 'Service': 'docomo', 'Type': 'bussiness'}
{'S.No': 13, 'Name': 'Monisha', 'PhoneNo': 9876461810, 'Place': 'kadappa', 'Service': 'jio', 'Type': 'home'}
{'S.No': 14, 'Name': 'Mohan', 'PhoneNo': 8765121234, 'Place': 'karnool', 'Service': 'bsnl', 'Type': 'work'}
{'S.No': 15, 'Name': 'Lakshmi', 'PhoneNo': 9444794567, 'Place': 'pondy', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 16, 'Name': 'Shelby', 'PhoneNo': 7894561230, 'Place': 'madurai', 'Service': 'jio', 'Type': 'work'}

# Update Records

In [53]:
db.collect.update_one({"Name":"Monisha"},{"$set":{"PhoneNo":9876461810}})

In [54]:
db.collect.update_one({"Name":"Mohan"},{"$set":{"PhoneNo":8765121234}})

In [55]:
db.collect.update_one({"Name":"Lakshmi"},{"$set":{"PhoneNo":9444794567}})

In [56]:
for item in collect.find({},{"_id":0}):
    print(item)

{'S.No': 1, 'Name': 'Vijay', 'PhoneNo': 9080221029, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 2, 'Name': 'Hari', 'PhoneNo': 9444795929, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'office'}
{'S.No': 3, 'Name': 'Krishna', 'PhoneNo': 8807395929, 'Place': 'delhi', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 4, 'Name': 'Prasad', 'PhoneNo': 9876567810, 'Place': 'chennai', 'Service': 'docomo', 'Type': 'home'}
{'S.No': 5, 'Name': 'Nevvan', 'PhoneNo': 9080221029, 'Place': 'banglore', 'Service': 'jio', 'Type': 'work'}
{'S.No': 6, 'Name': 'Rahul', 'PhoneNo': 9444668029, 'Place': 'pondy', 'Service': 'bsnl', 'Type': 'bussiness'}
{'S.No': 7, 'Name': 'Raghu', 'PhoneNo': 8765126397, 'Place': 'banglore', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 8, 'Name': 'Geetha', 'PhoneNo': 7397390731, 'Place': 'pondy', 'Service': 'docomo', 'Type': 'work'}
{'S.No': 9, 'Name': 'Sandhya', 'PhoneNo': 8657448501, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 10, 'Name': 'Lavanya', 'PhoneNo': 8668040234, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'home'}
{'S.No': 11, 'Name': 'Priyanka', 'PhoneNo': 9500073428, 'Place': 'karnool', 'Service': 'artel', 'Type': 'work'}
{'S.No': 12, 'Name': 'Raji', 'PhoneNo': 9677146570, 'Place': 'kadappa', 'Service': 'docomo', 'Type': 'bussiness'}
{'S.No': 13, 'Name': 'Monisha', 'PhoneNo': 9876461810, 'Place': 'kadappa', 'Service': 'jio', 'Type': 'home'}
{'S.No': 14, 'Name': 'Mohan', 'PhoneNo': 8765121234, 'Place': 'karnool', 'Service': 'bsnl', 'Type': 'work'}
{'S.No': 15, 'Name': 'Lakshmi', 'PhoneNo': 9444794567, 'Place': 'pondy', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 16, 'Name': 'Shelby', 'PhoneNo': 7894561230, 'Place': 'madurai', 'Service': 'jio', 'Type': 'work'}

# Updating Multiple Records

In [57]:
db.collect.update_many({"Place":"pondy"},{"$set":{"Place":"kerala"}})

In [58]:
for item in collect.find({},{"_id":0}):
    print(item)

{'S.No': 1, 'Name': 'Vijay', 'PhoneNo': 9080221029, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 2, 'Name': 'Hari', 'PhoneNo': 9444795929, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'office'}
{'S.No': 3, 'Name': 'Krishna', 'PhoneNo': 8807395929, 'Place': 'delhi', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 4, 'Name': 'Prasad', 'PhoneNo': 9876567810, 'Place': 'chennai', 'Service': 'docomo', 'Type': 'home'}
{'S.No': 5, 'Name': 'Nevvan', 'PhoneNo': 9080221029, 'Place': 'banglore', 'Service': 'jio', 'Type': 'work'}
{'S.No': 6, 'Name': 'Rahul', 'PhoneNo': 9444668029, 'Place': 'kerala', 'Service': 'bsnl', 'Type': 'bussiness'}
{'S.No': 7, 'Name': 'Raghu', 'PhoneNo': 8765126397, 'Place': 'banglore', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 8, 'Name': 'Geetha', 'PhoneNo': 7397390731, 'Place': 'kerala', 'Service': 'docomo', 'Type': 'work'}
{'S.No': 9, 'Name': 'Sandhya', 'PhoneNo': 8657448501, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 10, 'Name': 'Lavanya', 'PhoneNo': 8668040234, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'home'}
{'S.No': 11, 'Name': 'Priyanka', 'PhoneNo': 9500073428, 'Place': 'karnool', 'Service': 'artel', 'Type': 'work'}
{'S.No': 12, 'Name': 'Raji', 'PhoneNo': 9677146570, 'Place': 'kadappa', 'Service': 'docomo', 'Type': 'bussiness'}
{'S.No': 13, 'Name': 'Monisha', 'PhoneNo': 9876461810, 'Place': 'kadappa', 'Service': 'jio', 'Type': 'home'}
{'S.No': 14, 'Name': 'Mohan', 'PhoneNo': 8765121234, 'Place': 'karnool', 'Service': 'bsnl', 'Type': 'work'}
{'S.No': 15, 'Name': 'Lakshmi', 'PhoneNo': 9444794567, 'Place': 'kerala', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 16, 'Name': 'Shelby', 'PhoneNo': 7894561230, 'Place': 'madurai', 'Service': 'jio', 'Type': 'work'}

# Delete One Record

In [59]:
db.collect.delete_one({"Name":"Geetha"})

In [60]:
for item in collect.find({},{"_id":0}):
    print(item)

{'S.No': 1, 'Name': 'Vijay', 'PhoneNo': 9080221029, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 2, 'Name': 'Hari', 'PhoneNo': 9444795929, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'office'}
{'S.No': 3, 'Name': 'Krishna', 'PhoneNo': 8807395929, 'Place': 'delhi', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 4, 'Name': 'Prasad', 'PhoneNo': 9876567810, 'Place': 'chennai', 'Service': 'docomo', 'Type': 'home'}
{'S.No': 5, 'Name': 'Nevvan', 'PhoneNo': 9080221029, 'Place': 'banglore', 'Service': 'jio', 'Type': 'work'}
{'S.No': 6, 'Name': 'Rahul', 'PhoneNo': 9444668029, 'Place': 'kerala', 'Service': 'bsnl', 'Type': 'bussiness'}
{'S.No': 7, 'Name': 'Raghu', 'PhoneNo': 8765126397, 'Place': 'banglore', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 9, 'Name': 'Sandhya', 'PhoneNo': 8657448501, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 10, 'Name': 'Lavanya', 'PhoneNo': 8668040234, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'home'}
{'S.No': 11, 'Name': 'Priyanka', 'PhoneNo': 9500073428, 'Place': 'karnool', 'Service': 'artel', 'Type': 'work'}
{'S.No': 12, 'Name': 'Raji', 'PhoneNo': 9677146570, 'Place': 'kadappa', 'Service': 'docomo', 'Type': 'bussiness'}
{'S.No': 13, 'Name': 'Monisha', 'PhoneNo': 9876461810, 'Place': 'kadappa', 'Service': 'jio', 'Type': 'home'}
{'S.No': 14, 'Name': 'Mohan', 'PhoneNo': 8765121234, 'Place': 'karnool', 'Service': 'bsnl', 'Type': 'work'}
{'S.No': 15, 'Name': 'Lakshmi', 'PhoneNo': 9444794567, 'Place': 'kerala', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 16, 'Name': 'Shelby', 'PhoneNo': 7894561230, 'Place': 'madurai', 'Service': 'jio', 'Type': 'work'}

# Deleting Multiple Records

In [61]:
db.collect.delete_many({"Service":"docomo"})

In [62]:
for item in collect.find({},{"_id":0}):
    print(item)

{'S.No': 1, 'Name': 'Vijay', 'PhoneNo': 9080221029, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 2, 'Name': 'Hari', 'PhoneNo': 9444795929, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'office'}
{'S.No': 3, 'Name': 'Krishna', 'PhoneNo': 8807395929, 'Place': 'delhi', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 5, 'Name': 'Nevvan', 'PhoneNo': 9080221029, 'Place': 'banglore', 'Service': 'jio', 'Type': 'work'}
{'S.No': 6, 'Name': 'Rahul', 'PhoneNo': 9444668029, 'Place': 'kerala', 'Service': 'bsnl', 'Type': 'bussiness'}
{'S.No': 7, 'Name': 'Raghu', 'PhoneNo': 8765126397, 'Place': 'banglore', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 9, 'Name': 'Sandhya', 'PhoneNo': 8657448501, 'Place': 'chennai', 'Service': 'jio', 'Type': 'home'}
{'S.No': 10, 'Name': 'Lavanya', 'PhoneNo': 8668040234, 'Place': 'delhi', 'Service': 'bsnl', 'Type': 'home'}
{'S.No': 11, 'Name': 'Priyanka', 'PhoneNo': 9500073428, 'Place': 'karnool', 'Service': 'artel', 'Type': 'work'}
{'S.No': 13, 'Name': 'Monisha', 'PhoneNo': 9876461810, 'Place': 'kadappa', 'Service': 'jio', 'Type': 'home'}
{'S.No': 14, 'Name': 'Mohan', 'PhoneNo': 8765121234, 'Place': 'karnool', 'Service': 'bsnl', 'Type': 'work'}
{'S.No': 15, 'Name': 'Lakshmi', 'PhoneNo': 9444794567, 'Place': 'kerala', 'Service': 'artel', 'Type': 'bussiness'}
{'S.No': 16, 'Name': 'Shelby', 'PhoneNo': 7894561230, 'Place': 'madurai', 'Service': 'jio', 'Type': 'work'}